#space{
    text-align:center;
    background-color:red;
}
#henry{
    text-align:center;
    font-size:45px;
    color:blue;
    background-color: orangered;
}
#cut{
    font-size:45px;
    color:black;
    background-color: blue;
    text-align: center;
}
html{
    background-color: rgb(15, 208, 214);
}
nav ul li {
    
    text-align: right;
    font-size: 22px;
    flex-direction: row;
    display:inline;
    padding:50px 50px 50px;
    text-align: right;
    margin-left: 100px;
}
.rap{
    text-align: center;
}