#text{
    text-align: center;
    font-size:45px;
    color:white;
    background-color:orangered;
}
#chris{
    text-align:center;
    font-size:45px;
    color:black;
    background-color:white;
}
nav{
    background-image: url(https://ssl.c.photoshelter.com/img-get2/I00003gjBFFPlIOQ/fit=1000x750/MG0154-Chicago-Skyline-Night-Panorama-Photo.jpg);
}
html{
    background-color: yellowgreen;
}